<!DOCTYPE html>
<html>
<head>
    <title>Scheduler</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
</head>
<body>
<a id="backButton" class="button fadeIn fourth" href="/" style="color:black;">Back</a><br>

<div class="wrapper fadeInDown">
    <div class="header1">
        <h3>Guest</h3>
    </div>
    <table id="formContent">
        <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Booked by</th>
            <th><button class="button fadeIn fourth" onclick="window.location.href='/nDate'">Add Multiple Time Slots</button></th>
        </tr>
        <tr class="bordered">
            <td><br><hr><br></td>
            <td><br><hr><br></td>
            <td><br><hr><br></td>
            <td><br><hr><br></td>
            <td><br><hr><br></td>
        </tr>
        <% schedule.forEach(function(schedule) { %>
            <tr>
                <td><%= schedule.date %></td>
                <td><%= schedule.start_time %></td>
                <td><%= schedule.duration %></td>
                <td><%= schedule.by %></td>
                <td>
                    <button id="edit" class="button fadeIn fourth" onclick="window.location.href='/edit'" data-toggle="modal" data-target="#editModal">Edit</button>
                    <button class="button fadeIn fourth" data-authorId="{{authorId}}" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </td>
            </tr>
        <% }); %>
    </table>
</div>

<button class="button fadeIn fourth" id="displayMap">Continue</button><br><br>
<span id="helloMessage"></span>
<span id="buttonWasClicked"></span>


<script>
    // FOR TIMEPICKER
    $(document).ready(function() {
        $('input.timepicker').timepicker({});
    });

    $('.timepicker').timepicker({
        timeFormat: 'h:mm p',
        interval: 15,
        minTime: '0',
        maxTime: '10:00pm',
        defaultTime: '11',
        startTime: '0:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
</script>
</body>

<hr><br>
<footer>
    CST336: Internet Programming<br> &copy; 2019. Scheduler<br>
    Disclaimer: The information in this page might be inaccurate.<br>
    It is used for academic purposes only.<br><br>
</footer>
</html>
